
<form name="getMovie" ng-submit="getMovies(movie)">
    <h1><label for="title">Please enter a movie title: </label>
    <input type="text" id="title" name="title" ng-model="movie.title" class="validate" required>
    <button type="submit" class="btn btn success">search</button></h1>
</form>

<div ng-repeat="movie in view.omdb">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="/#/show_page/{{movie.imdbID}}">
    Title: {{movie.Title}}
    <br>
    Year: {{movie.Year}}
    <br>
    </div></a>
  </div>
</div>
  <img id="brand" src="https://s3.amazonaws.com/ionic-marketplace/omdb-search/icon.png" alt="Brand">
