
<form name="getMovie" ng-submit="getMovies(movie)">
    <label for="title">Please enter a movie title: </label>
    <input type="text" id="title" name="title" ng-model="movie.title" class="validate" required>
    <button type="submit" class="btn btn success">search</button>
</form>

<div ng-repeat="movie in view.omdb">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="/#/show_page/{{movie.imdbID}}">
    Title: {{movie.Title}}
    <br>
    Year: {{movie.Year}}
    <br>
    </div></a>
  </div>
</div>
